@media(prefers-color-scheme: light) {
    body {
        --background-color: #f7f7f9;
        --background-sub-color: #d7d7d9;
        --nav-color: #ffffffdf;
        --profile-stroke-color: #000000;
        --text-color: #19191e;
        --em-color: #775201;
    }
}

@media(prefers-color-scheme: dark) {
    body {
        --background-color: #19191e;
        --background-sub-color: #4c4c4c;
        --nav-color: #1f1f25df;
        --profile-stroke-color: #f7f7f9df;
        --text-color: #f7f7f9;
        --em-color: #fdde59;
    }

    .nav--logo-icon {
        filter: drop-shadow(0 0 5px var(--text-color));
    }
}

body {
    font-family: "Pretendard", "Noto Sans", "Noto Sans JP", sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
}

.width-limiter {
    max-width: 1280px;
    min-width: 1080px;
    margin: 0 auto;
}

a {
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    color: var(--em-color);
}

/* navigation */

.nav--logo-icon {
    filter: drop-shadow(0 0 8px #fdde59af);
    margin-left: 2rem;
}

.nav--logo-icon, .nav--nema-color-indicator {
    vertical-align: middle;
    height: 2rem;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline;
    margin-right: 2rem;
}

.nav--area {
    position: absolute;
    max-width: 1440px;
    min-width: 1280px;
    display: flex;
    background: var(--nav-color);
    border-radius: 0.9rem;
    filter: drop-shadow(0px 0px 32px #00000020);
    -webkit-filter: drop-shadow(0px 0px 32px #00000020);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav--area div {
    flex: 1;
}

.nav--right {
    text-align: right;
}

.nav--right svg {
    border: 1px solid var(--profile-stroke-color);
    border-radius: 50%;
    margin: -0.5rem 0 -0.5rem 0.5rem;
}

.nav--right ul li:last-child {
    margin-right: 2rem;
}

nav {
    position: relative;
    width: 100%;
    height: 4.5rem;
    margin-bottom: 1rem;
}

.nav--login-as {
    position: absolute;
    opacity: 0.0;
    pointer-events: none;
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 0.9rem;
    bottom: -95%;
    right: 0;
    background: var(--nav-color);
    filter: drop-shadow(0px 0px 28px #00000020);
    -webkit-filter: drop-shadow(0px 0px 28px #00000020);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: 0.15s ease-in;
}

.nav--profile:hover .nav--login-as {
    bottom: -102%;
    opacity: 1.0;
    pointer-events: all;
}

/* footer */

.footer--list {
    padding-left: 0;
}

.footer--list li {
    display: inline;
    margin-right: 1rem;
}
